<!DOCTYPE html>
<html lang="en">

<head>
    <title>Set Appointments</title>
    <meta property="og:title" content="Le-Vaccine" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        data-tag="font" />
    <link type="image/png" sizes="16x16" rel="icon"
        href="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-vaccine-baby-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png">

    <link rel="stylesheet" href="/css/show/style.css" />
    <link href="/css/whichlogin/provider.css" rel="stylesheet" />
</head>

<body>
    <div id="butter">
        <%- include('../../partial/provider-nav')%>
            <div class="container-home">
                <div class="height-set" style="height:auto !important">
                    <br>
                    <div id='map' style='width: 69vw; height: 350px;border-radius: 0.5rem;'></div>
                    <div class="form-con">
                        <div class="items">
                            <form class="form items" action="/account/provider/dash/setappo" method="POST">
                                <!-- <p>
                            <%= data %>
                        </p> -->
                                <!-- bridge -->
                                <br>
                                <span class="myFont">
                                    <%= msg %>
                                </span>
                                <input type="hidden" name="authentication" value="<%= data.authentication %>">
                                <div class="head">
                                    <h1>Set your Appointment</h1>
                                    <p class="myFont">
                                    </p>
                                </div>

                                <div class="input-contain">
                                    <input type="text" name="address" id="address" autocomplete="on">
                                    <label class="placeholder-text" for="username" id="placeholder-fname">
                                        <div class="text">Address</div>
                                    </label>
                                </div>

                                <div class="input-contain">
                                    <input type="text" name="city" id="city" autocomplete="on">
                                    <label class="placeholder-text" for="username" id="placeholder-fname">
                                        <div class="text">City</div>
                                    </label>
                                </div>

                                <div class="input-contain">
                                    <input type="text" name="state" id="state" autocomplete="on">
                                    <label class="placeholder-text" for="username" id="placeholder-fname">
                                        <div class="text">State</div>
                                    </label>
                                </div>

                                <div class="input-contain">
                                    <input type="text" name="postcode" id="postcode" autocomplete="on">
                                    <label class="placeholder-text" for="username" id="placeholder-fname">
                                        <div class="text">PostCode</div>
                                    </label>
                                </div>

                                <div class="input-contain">
                                    <input type="text" name="forvaccine" id="forvaccine" autocomplete="on">
                                    <label class="placeholder-text" for="username" id="placeholder-fname">
                                        <div class="text">For Vaccine</div>
                                    </label>
                                </div>
                                <div class="input-contain">
                                    <input type="time" name="time" id="time" autocomplete="on">
                                    <label class="placeholder-text" for="username" id="placeholder-fname">
                                        <div class="text">Time</div>
                                    </label>
                                </div>
                                <div class="input-contain">
                                    <input type="date" name="date" id="date" autocomplete="on">
                                    <label class="placeholder-text" for="username" id="placeholder-fname">
                                        <div class="text">Date</div>
                                    </label>
                                </div>
                                <div class="div">
                                    <input id="signup" type="submit" value="Set Appointment">
                                </div>
                            </form>
                        </div>
                        <div class="items" style="padding-top: 3rem;width: 42%;">
                            <% for(var i=0; i<appos.length; i++) {%>
                                <span>
                                    <%= appos[i] %>
                                </span>
                                <% } %>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="home-separator"></div>
                <span class="home-text81 myFont">© 2021 <a href="mailto:atharvdesai2002@gmail.com"
                        target="_blank">Otherwa</a>,
                    All Rights Reserved.</span>
                <br>
            </div>
    </div>

    <script src='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js'></script>
    <link href='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css' rel='stylesheet' />
    <!-- map libre -->
    <script data-section-id="header" src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
        integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="/js/setappo.js"></script>

</body>

</html>