<!DOCTYPE html>
<html lang="en">
<!-- Nice -->

<head>
  <title>Le-Vaccine</title>
  <meta property="og:title" content="Le-Vaccine" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="image/png" sizes="16x16" rel="icon"
    href="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-vaccine-baby-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet" href="/css/show/style.css" />
  <link href="/css/index/home.css" rel="stylesheet" />
</head>

<body>
  <div>
    <div class="preload">
      <img src="https://art.pixilart.com/8afb782c4601281.gif" alt="loading" style="width:4rem;height:auto">
    </div>
    <div class="home-container">

      <header data-role="Header" class="home-header1">
        <%- include('./partial/nav'); %>
      </header>

      <div class="home-hero">
        <div class="home-container03">
          <div class="home-container04">
            <!-- changed -->
            <img alt="image" src="https://media.tenor.com/9Evchz7u_wQAAAAM/professor-oak-nod.gif" class="home-image2"
              id="hero-image" alt="Oak" />
          </div>
          <br>
        </div>

        <div class="home-container05">
          <h1 class="home-text">Let`s get Vaccinated</h1>
          <h2 class="home-text01">things are very simple.</h2>

          <div class="home-btn-group1">
            <button class="home-button button myFont cur"><a href="#home-banner">Get Started</a></button>
            <button class="home-button1 button myFont cur"><a href="/services">Learn More</a></button>
          </div>

          <span class="home-text02">
            <span>
              <span>
                Get a Life.
              </span>
              <span></span>
            </span>
            <span>
              <span>
                Tatakae Tatakae !!
              </span>
              <span></span>
            </span>
            <br />
            <br />
            <span>
              <span>There are no more barriers to cross. All I have in common with the uncontrollable and the insane,
                the vicious and the evil,</span>
              <span></span>
            </span>
            <span>all the mayhem I have caused and my utter indifference toward it I have now surpassed.</span>
            <br />
            <span>
              <span>
                My pain is constant and sharp, and I do not hope for a better world for anyone.
              </span>
              <br />
              <br />
              <span style="float:right"><cite>- Paterick Bateman</cite></span>
            </span>
          </span>

        </div>
      </div>

      <div class="home-banner" id="home-banner">
        <div class="home-container06">
          <h1 class="home-text16">
            <span>Be the first to get the latest features</span>
          </h1>
          <span class="home-text18">
            <span>
              <span>
                This pre-registration alert will allow you to be the first to get the most important enhancements on our
                app and website.
              </span>
            </span>
            <span>
              This will allow us to prioritize your feedback and make your experience on our platform as enjoyable and
              intuitive as possible.
            </span>
          </span>
          <div class="home-container07">
            <input type="email" placeholder="Email here..." id="emailval" name="email" class="home-textinput input" />
            <button class="home-button2 button myFont analog" id="emailclick">Subscribe</button>
          </div>
          <br>
          <div class="home-container07">
            <div id="error" style="display:none">
              <h3>Hmmm..!</h3>
              <code>Please Enter Valid Email.</code>
            </div>
            <div id="subscribed" style="display:none">
              <h3>Noice..!</h3>
              <code>test</code>
            </div>
          </div>
        </div>
        <img alt="image"
          src="https://media.tenor.com/gkscTfBEPn8AAAAM/medical-checkup-in-the19th-century-going-to-the-doctor-could-kill-you.gif"
          class="home-image3" />
      </div>

      <div class="home-features">
        <h1 class="home-text23">All these impressive features</h1>
        <div class="home-container08">

          <div class="feature-card2-feature-card feature-card2-root-class-name">
            <img src="https://www.svgrepo.com/show/273484/park.svg" class="feature-card2-icon" alt="NGO">
            <div class="feature-card2-container">
              <h2 class="feature-card2-text"><span class="myFont">NGO`s</span></h2>
              <span>
                <span>
                  supporting NGO's by providing vaccines to remote place training and supporting local health
                  practitioners by facilitating clinical trials and sharing of expertise and facilities
                  building capacity of national authorities Providing training to health workers
                </span>
              </span>
            </div>
          </div>

          <div class="feature-card2-feature-card feature-card2-root-class-name3">
            <img src="https://www.svgrepo.com/show/374692/immunization.svg" class="feature-card2-icon" alt="Vaccine">
            <div class="feature-card2-container">
              <h2 class="feature-card2-text"><span class="myFont">Fast Vaccine Administration</span></h2>
              <span>
                <span>
                  Fast vaccine administration process scaling up to 60 or even 70 vaccines per shipment with control
                  valves, such as the transfer seal technology (Kuch Bhi)
                </span>
              </span>
            </div>
          </div>

          <div class="feature-card2-feature-card feature-card2-root-class-name2">
            <img src="https://www.svgrepo.com/show/13701/home.svg" class="feature-card2-icon" alt="Home">
            <div class="feature-card2-container">
              <h2 class="feature-card2-text"><span class="myFont">Appointments in your Locality</span></h2>
              <span>
                <span>
                  vaccine appointments in your nearest locality from bookings, for consultations and radiography, to
                  making applications for referrals to public
                </span>
              </span>
            </div>
          </div>

          <div class="feature-card2-feature-card feature-card2-root-class-name1">
            <img src="https://www.svgrepo.com/show/31102/open-magazine.svg" class="feature-card2-icon" alt="Home">
            <div class="feature-card2-container">
              <h2 class="feature-card2-text"><span class="myFont">Open Source</span></h2>
              <span>
                <span>
                  Open Source vaccine production system – from making the vaccine to delivery to schools and communities
                  for mass immunization.
                </span>
              </span>
            </div>
          </div>

        </div>
      </div>

      <h1 class="home-text23">News</h1>

      <div class="home-gallery">
        <div class="home-container09">
          <div class="home-container10">
            <p class="home-text24 head">
              <%= data[0].title %>
                <cite>
                  <%= data[0].author %>
                </cite>
            </p>
            <br>
            <span class="home-text25">
              <span>
                <p>
                  <%= data[0].source.name %>
                </p>
                <span>
                  <%= data[0].description %>
                </span>
                <span>
                  <%= data[0].publishedAt %>
                </span>
                <span>
                  <br>
                  <a style="color:yellow" href="<%= data[0].url %>" target="_blank"> More ...</a>
                </span>
              </span>
            </span>
          </div>
        </div>
        <div class="home-container11">
          <div class="home-container12">
            <p class="home-text27 head">
              <%= data[1].title %>
                <cite>
                  <%= data[1].author %>
                </cite>
            </p>
            <br>
            <span class="home-text28">
              <p>
                <%= data[1].source.name %>
              </p>
              <span>
                <%= data[1].description %>
              </span>
              <span>
                <%= data[1].publishedAt %>
              </span>
              <span>
                <br>
                <a style="color:yellow" href="<%= data[1].url %>" target="_blank"> More ...</a>
              </span>
            </span>
          </div>
        </div>
        <div class="home-container13">
          <div class="home-container14">
            <p class="home-text30 head">
              <%= data[2].title %>
                <cite>
                  <%= data[2].author %>
                </cite>
            </p>
            <span class="home-text31">
              <p>
                <%= data[2].source.name %>
              </p>
              <span>
                <%= data[2].description %>
              </span>
              <span>
                <%= data[2].publishedAt %>
              </span>
              <span>
                <br>
                <a style="color:yellow" href="<%= data[2].url %>" target="_blank"> More ...</a>
              </span>
            </span>
            </span>
            </span>
          </div>
        </div>
        <div class="home-container15">
          <div class="home-container16">
            <p class="home-text33 head">
              <%= data[3].title %>
                <cite>
                  <%= data[3].author %>
                </cite>
            </p>
            <span class="home-text34">
              <p>
                <%= data[3].source.name %>
              </p>
              <span>
                <%= data[3].description %>
              </span>
              <span>
                <%= data[3].publishedAt %>
              </span>
              <span>
                <br>
                <a style="color:yellow" href="<%= data[3].url %>" target="_blank"> More ...</a>
              </span>
            </span>
            </span>
          </div>
        </div>
        <div class="home-container17">
          <div class="home-container18">
            <p class="home-text36 head">
              <%= data[4].title %>
                <cite>
                  <%= data[4].author %>
                </cite>
            </p>
            <span class="home-text37">
              <p>
                <%= data[4].source.name %>
              </p>
              <span>
                <%= data[4].description %>
              </span>
              <span>
                <%= data[4].publishedAt %>
              </span>
              <span>
                <br>
                <a style="color:yellow" href="<%= data[4].url %>" target="_blank"> More ...</a>
              </span>
            </span>
            </span>
          </div>
        </div>
        <div class="home-container19">
          <div class="home-container20">
            <p class="home-text39 head">
              <%= data[5].title %>
                <cite>
                  <%= data[5].author %>
                </cite>
            </p>
            <span class="home-text40">
              <p>
                <%= data[5].source.name %>
              </p>
              <span>
                <%= data[5].description %>
              </span>
              <span>
                <%= data[5].publishedAt %>
              </span>
              <span>
                <br>
                <a style="color:yellow" href="<%= data[5].url %>" target="_blank"> More ...</a>
              </span>
            </span>
            </span>
          </div>
        </div>
      </div>

      <div class="home-steps">
        <p class="home-text42"><span>Discover Our Process</span></p>
        <span class="home-text44">
          <span>
            Fuck This shit I'm Selling Meth.
          </span>
          <br />
          <span></span>
        </span>
        <div class="home-container23">
          <div class="home-step">
            <div class="home-container24">
              <div class="home-line"></div>
              <div class="home-container25">
                <svg viewBox="0 0 1024 1024" class="home-icon18">
                  <path
                    d="M634 558q92-64 92-174 0-88-63-151t-151-63-151 63-63 151q0 46 27 96t65 78l36 26v98h172v-98zM512 86q124 0 211 87t87 211q0 156-128 244v98q0 18-12 30t-30 12h-256q-18 0-30-12t-12-30v-98q-128-88-128-244 0-124 87-211t211-87zM384 896v-42h256v42q0 18-12 30t-30 12h-172q-18 0-30-12t-12-30z">
                  </path>
                </svg>
              </div>
              <div class="home-line1"></div>
            </div>
            <div class="home-container26">
              <h1 class="home-text47"><span>Ideate</span></h1>
              <span class="home-text49">
                <span>
                  Never
                </span>
                <br />
                <span></span>
              </span>
            </div>
          </div>
          <div class="home-step1">
            <div class="home-container27">
              <div class="home-line2"></div>
              <div class="home-container28">
                <svg viewBox="0 0 1024 1024" class="home-icon20">
                  <path
                    d="M746 512q26 0 45-18t19-46-19-46-45-18-45 18-19 46 19 46 45 18zM618 342q26 0 45-19t19-45-19-45-45-19-45 19-19 45 19 45 45 19zM406 342q26 0 45-19t19-45-19-45-45-19-45 19-19 45 19 45 45 19zM278 512q26 0 45-18t19-46-19-46-45-18-45 18-19 46 19 46 45 18zM512 128q158 0 271 100t113 242q0 88-63 150t-151 62h-74q-28 0-46 19t-18 45q0 22 16 42t16 44q0 28-18 46t-46 18q-160 0-272-112t-112-272 112-272 272-112z">
                  </path>
                </svg>
              </div>
              <div class="home-line3"></div>
            </div>
            <div class="home-container29">
              <h1 class="home-text52"><span>Design</span></h1>
              <span class="home-text54">
                <span>
                  gonna
                </span>
                <br />
                <span></span>
              </span>
            </div>
          </div>
          <div class="home-step2">
            <div class="home-container30">
              <div class="home-line4"></div>
              <div class="home-container31">
                <svg viewBox="0 0 1024 1024" class="home-icon22">
                  <path d="M576 736l96 96 320-320-320-320-96 96 224 224z"></path>
                  <path d="M448 288l-96-96-320 320 320 320 96-96-224-224z"></path>
                </svg>
              </div>
              <div class="home-line5"></div>
            </div>
            <div class="home-container32">
              <h1 class="home-text57"><span>Develop</span></h1>
              <span class="home-text59">
                <span>
                  give
                </span>
                <br />
                <span></span>
              </span>
            </div>
          </div>
          <div class="home-step3">
            <div class="home-container33">
              <div class="home-line6"></div>
              <div class="home-container34">
                <svg viewBox="0 0 1024 1024" class="home-icon25">
                  <path
                    d="M480 64c-265.096 0-480 214.904-480 480 0 265.098 214.904 480 480 480 265.098 0 480-214.902 480-480 0-265.096-214.902-480-480-480zM751.59 704c8.58-40.454 13.996-83.392 15.758-128h127.446c-3.336 44.196-13.624 87.114-30.68 128h-112.524zM208.41 384c-8.58 40.454-13.996 83.392-15.758 128h-127.444c3.336-44.194 13.622-87.114 30.678-128h112.524zM686.036 384c9.614 40.962 15.398 83.854 17.28 128h-191.316v-128h174.036zM512 320v-187.338c14.59 4.246 29.044 11.37 43.228 21.37 26.582 18.74 52.012 47.608 73.54 83.486 14.882 24.802 27.752 52.416 38.496 82.484h-155.264zM331.232 237.516c21.528-35.878 46.956-64.748 73.54-83.486 14.182-10 28.638-17.124 43.228-21.37v187.34h-155.264c10.746-30.066 23.616-57.68 38.496-82.484zM448 384v128h-191.314c1.88-44.146 7.666-87.038 17.278-128h174.036zM95.888 704c-17.056-40.886-27.342-83.804-30.678-128h127.444c1.762 44.608 7.178 87.546 15.758 128h-112.524zM256.686 576h191.314v128h-174.036c-9.612-40.96-15.398-83.854-17.278-128zM448 768v187.34c-14.588-4.246-29.044-11.372-43.228-21.37-26.584-18.74-52.014-47.61-73.54-83.486-14.882-24.804-27.75-52.418-38.498-82.484h155.266zM628.768 850.484c-21.528 35.876-46.958 64.746-73.54 83.486-14.184 9.998-28.638 17.124-43.228 21.37v-187.34h155.266c-10.746 30.066-23.616 57.68-38.498 82.484zM512 704v-128h191.314c-1.88 44.146-7.666 87.040-17.28 128h-174.034zM767.348 512c-1.762-44.608-7.178-87.546-15.758-128h112.524c17.056 40.886 27.344 83.806 30.68 128h-127.446zM830.658 320h-95.9c-18.638-58.762-44.376-110.294-75.316-151.428 42.536 20.34 81.058 47.616 114.714 81.272 21.48 21.478 40.362 44.938 56.502 70.156zM185.844 249.844c33.658-33.658 72.18-60.932 114.714-81.272-30.942 41.134-56.676 92.666-75.316 151.428h-95.898c16.138-25.218 35.022-48.678 56.5-70.156zM129.344 768h95.898c18.64 58.762 44.376 110.294 75.318 151.43-42.536-20.34-81.058-47.616-114.714-81.274-21.48-21.478-40.364-44.938-56.502-70.156zM774.156 838.156c-33.656 33.658-72.18 60.934-114.714 81.274 30.942-41.134 56.678-92.668 75.316-151.43h95.9c-16.14 25.218-35.022 48.678-56.502 70.156z">
                  </path>
                </svg>
              </div>
              <div class="home-line7"></div>
            </div>
            <div class="home-container35">
              <h1 class="home-text62"><span>Deploy</span></h1>
              <span class="home-text64">
                <span>
                  you up.
                </span>
                <br />
                <span></span>
              </span>
            </div>
          </div>
        </div>
      </div>


      <footer class="home-footer">
        <%- include('./partial/foot'); %>
      </footer>
      <br>
      <div class="home-separator"></div>
      <span class="home-text81 myFont">© 2021 <a href="mailto:atharvdesai2002@gmail.com" target="_blank">Otherwa</a>,
        All Rights Reserved.</span>
      <br>
    </div>
  </div>
  <script data-section-id="header" src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
    integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/index.js"></script>
</body>

</html>