<!DOCTYPE html>
<html lang="en">
<!-- Nice -->

<head>
  <title>Le-Vaccine</title>
  <meta property="og:title" content="Le-Vaccine">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="image/png" sizes="16x16" rel="icon"
    href="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-vaccine-baby-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    data-tag="font">
  <link rel="stylesheet" href="/css/show/style.css">
  <link href="/css/index/home.css" rel="stylesheet">
</head>

<body>
  <div id="scroll-progress"></div>
  <div class="preload">
    <img class="screen"
      src="https://31.media.tumblr.com/2e8986a1b1c062623cea1b9edaddcc52/tumblr_mup3qzOPsX1rk0k2jo1_500.gif"
      alt="loading..">
  </div>
  <div id="butter">
    <div class="home-container">
      <header data-role="Header" class="home-header1">
        <%- include('./partial/nav'); %>
      </header>
      <div class="home-hero">
        <div class="home-container03 ">
          <div class="home-container04 ">
            <!-- changed -->
            <img alt="image" src="https://media.tenor.com/9Evchz7u_wQAAAAM/professor-oak-nod.gif"
              class="home-image2 darkmode-ignore" id="hero-image" alt="Oak" />
          </div>
          <br>
        </div>

        <div class="home-container05">
          <h1 class="home-text">Let`s get Vaccinated</h1>
          <h2 class="home-text01">things are very simple.</h2>

          <div class="home-btn-group1">
            <button class="home-button button myFont curget"><a href="#home-banner">Get Started</a></button>
            <button class="home-button1 button myFont cur"><a href="/services">Learn More</a></button>
          </div>

          <span class="home-text02">
            <span>
              <span>
                Get a Life.
              </span>
              <span></span>
            </span>
            <span>
              <span>
                Tatakae Tatakae !!
              </span>
              <span></span>
            </span>
            <br />
            <br />
            <span>
              <span>There are no more barriers to cross. All I have in common with the uncontrollable and the insane,
                the vicious and the evil,</span>
              <span></span>
            </span>
            <span>all the mayhem I have caused and my utter indifference toward it I have now surpassed.</span>
            <br />
            <span>
              <span>
                My pain is constant and sharp, and I do not hope for a better world for anyone.
              </span>
              <br />
              <br />
              <span style="float:right"><cite>- Paterick Bateman</cite></span>
            </span>
          </span>

        </div>
      </div>

      <div class="home-banner" id="home-banner">
        <div class="home-container06">
          <h1 class="home-text16">
            <span>Be the first to get the latest features</span>
          </h1>
          <span class="home-text18">
            <span>
              <span>
                This pre-registration alert will allow you to be the first to get the most important enhancements on our
                app and website.
              </span>
            </span>
            <span>
              This will allow us to prioritize your feedback and make your experience on our platform as enjoyable and
              intuitive as possible.
            </span>
          </span>
          <div class="home-container07">
            <input type="email" placeholder="Email here..." id="emailval" name="email" class="home-textinput input" />
            <button class="home-button2 button myFont analog" id="emailclick">Subscribe</button>
          </div>
          <br>
          <div class="home-container07">
            <div id="error" style="display:none">
              <h3>Hmmm..!</h3>
              <code>Please Enter Valid Email.</code>
            </div>
            <div id="subscribed" style="display:none">
              <h3>Noice..!</h3>
              <code>test</code>
            </div>
          </div>
        </div>
        <img alt="image"
          src="https://media.tenor.com/gkscTfBEPn8AAAAM/medical-checkup-in-the19th-century-going-to-the-doctor-could-kill-you.gif"
          class="home-image3" id="hero-image2" />
      </div>

      <div class="home-features">
        <h1 class="home-text23">All these impressive features</h1>
        <div class="home-container08">

          <div class="feature-card2-feature-card feature-card2-root-class-name">
            <img src="https://www.svgrepo.com/show/273484/park.svg" class="feature-card2-icon darkmode-ignore"
              alt="NGO">
            <div class="feature-card2-container">
              <h2 class="feature-card2-text"><span class="myFont">NGO`s</span></h2>
              <span>
                <span>
                  supporting NGO's by providing vaccines to remote place training and supporting local health
                  practitioners by facilitating clinical trials and sharing of expertise and facilities
                  building capacity of national authorities Providing training to health workers
                </span>
              </span>
            </div>
          </div>

          <div class="feature-card2-feature-card feature-card2-root-class-name3">
            <img src="https://www.svgrepo.com/show/374692/immunization.svg" class="feature-card2-icon darkmode-ignore"
              alt="Vaccine">
            <div class="feature-card2-container">
              <h2 class="feature-card2-text"><span class="myFont">Fast Vaccine Administration</span></h2>
              <span>
                <span>
                  Fast vaccine administration process scaling up to 60 or even 70 vaccines per shipment with control
                  valves, such as the transfer seal technology (Kuch Bhi)
                </span>
              </span>
            </div>
          </div>

          <div class="feature-card2-feature-card feature-card2-root-class-name2">
            <img src="https://www.svgrepo.com/show/13701/home.svg" class="feature-card2-icon" alt="Home">
            <div class="feature-card2-container">
              <h2 class="feature-card2-text"><span class="myFont">Appointments in your Locality</span></h2>
              <span>
                <span>
                  vaccine appointments in your nearest locality from bookings, for consultations and radiography, to
                  making applications for referrals to public
                </span>
              </span>
            </div>
          </div>

          <div class="feature-card2-feature-card feature-card2-root-class-name1">
            <img src="https://www.svgrepo.com/show/31102/open-magazine.svg" class="feature-card2-icon" alt="Home">
            <div class="feature-card2-container">
              <h2 class="feature-card2-text"><span class="myFont">Open Source</span></h2>
              <span>
                <span>
                  Open Source vaccine production system – from making the vaccine to delivery to schools and communities
                  for mass immunization.
                </span>
              </span>
            </div>
          </div>

        </div>
      </div>

      <h1 class="home-text23">News</h1>

      <div class="home-gallery">
        <div class="home-container09">
          <div class="home-container10">
            <p class="home-text24 head">
              <%= data[0].title %>
                <cite>
                  <%= data[0].author %>
                </cite>
            </p>
            <br>
            <span class="home-text25">
              <span>
                <p>
                  <%= data[0].source.name %>
                </p>
                <span>
                  <%= data[0].description %>
                </span>
                <span>
                  <%= data[0].publishedAt %>
                </span>
                <span>
                  <br>
                  <a style="color:yellow" href="<%= data[0].url %>" target="_blank"> More ...</a>
                </span>
              </span>
            </span>
          </div>
        </div>
        <div class="home-container11">
          <div class="home-container12">
            <p class="home-text27 head">
              <%= data[1].title %>
                <cite>
                  <%= data[1].author %>
                </cite>
            </p>
            <br>
            <span class="home-text28">
              <p>
                <%= data[1].source.name %>
              </p>
              <span>
                <%= data[1].description %>
              </span>
              <span>
                <%= data[1].publishedAt %>
              </span>
              <span>
                <br>
                <a style="color:yellow" href="<%= data[1].url %>" target="_blank"> More ...</a>
              </span>
            </span>
          </div>
        </div>
        <div class="home-container13">
          <div class="home-container14">
            <p class="home-text30 head">
              <%= data[2].title %>
                <cite>
                  <%= data[2].author %>
                </cite>
            </p>
            <span class="home-text31">
              <p>
                <%= data[2].source.name %>
              </p>
              <span>
                <%= data[2].description %>
              </span>
              <span>
                <%= data[2].publishedAt %>
              </span>
              <span>
                <br>
                <a style="color:yellow" href="<%= data[2].url %>" target="_blank"> More ...</a>
              </span>
            </span>
            </span>
            </span>
          </div>
        </div>
        <div class="home-container15">
          <div class="home-container16">
            <p class="home-text33 head">
              <%= data[3].title %>
                <cite>
                  <%= data[3].author %>
                </cite>
            </p>
            <span class="home-text34">
              <p>
                <%= data[3].source.name %>
              </p>
              <span>
                <%= data[3].description %>
              </span>
              <span>
                <%= data[3].publishedAt %>
              </span>
              <span>
                <br>
                <a style="color:yellow" href="<%= data[3].url %>" target="_blank"> More ...</a>
              </span>
            </span>
            </span>
          </div>
        </div>
        <div class="home-container17">
          <div class="home-container18">
            <p class="home-text36 head">
              <%= data[4].title %>
                <cite>
                  <%= data[4].author %>
                </cite>
            </p>
            <span class="home-text37">
              <p>
                <%= data[4].source.name %>
              </p>
              <span>
                <%= data[4].description %>
              </span>
              <span>
                <%= data[4].publishedAt %>
              </span>
              <span>
                <br>
                <a style="color:yellow" href="<%= data[4].url %>" target="_blank"> More ...</a>
              </span>
            </span>
            </span>
          </div>
        </div>
        <div class="home-container19">
          <div class="home-container20">
            <p class="home-text39 head">
              <%= data[5].title %>
                <cite>
                  <%= data[5].author %>
                </cite>
            </p>
            <span class="home-text40">
              <p>
                <%= data[5].source.name %>
              </p>
              <span>
                <%= data[5].description %>
              </span>
              <span>
                <%= data[5].publishedAt %>
              </span>
              <span>
                <br>
                <a style="color:yellow" href="<%= data[5].url %>" target="_blank"> More ...</a>
              </span>
            </span>
            </span>
          </div>
        </div>
      </div>

      <div class="home-steps">
        <p class="home-text42"><span>Discover Our Process</span></p>
        <span class="home-text44">
          <span>
            ....
          </span>
        </span>
        <div class="home-container23">
          <div class="home-step">
            <div class="home-container24">
              <div class="home-line"></div>
              <div class="home-container25">
                <a href="/about#ideate">
                  <svg class="svg-icon" viewBox="0 0 20 20">
                    <path fill="none"
                      d="M8.652,16.404c-0.186,0-0.337,0.151-0.337,0.337v2.022c0,0.186,0.151,0.337,0.337,0.337s0.337-0.151,0.337-0.337v-2.022C8.989,16.555,8.838,16.404,8.652,16.404z">
                    </path>
                    <path fill="none"
                      d="M11.348,16.404c-0.186,0-0.337,0.151-0.337,0.337v2.022c0,0.186,0.151,0.337,0.337,0.337s0.337-0.151,0.337-0.337v-2.022C11.685,16.555,11.535,16.404,11.348,16.404z">
                    </path>
                    <path fill="none"
                      d="M17.415,5.281V4.607c0-2.224-1.847-4.045-4.103-4.045H10H6.687c-2.256,0-4.103,1.82-4.103,4.045v0.674H10H17.415z">
                    </path>
                    <path fill="none"
                      d="M18.089,10.674V7.304c0,0,0-0.674-0.674-0.674V5.955H10H2.585v0.674c-0.674,0-0.674,0.674-0.674,0.674v3.371c-0.855,0.379-1.348,1.084-1.348,2.022c0,1.253,2.009,3.008,2.009,3.371c0,2.022,1.398,3.371,3.436,3.371c0.746,0,1.43-0.236,1.98-0.627c-0.001-0.016-0.009-0.03-0.009-0.047v-2.022c0-0.372,0.303-0.674,0.674-0.674c0.301,0,0.547,0.201,0.633,0.474h0.041v-0.137c0-0.372,0.303-0.674,0.674-0.674s0.674,0.302,0.674,0.674v0.137h0.041c0.086-0.273,0.332-0.474,0.633-0.474c0.371,0,0.674,0.302,0.674,0.674v2.022c0,0.016-0.008,0.03-0.009,0.047c0.55,0.391,1.234,0.627,1.98,0.627c2.039,0,3.436-1.348,3.436-3.371c0-0.362,2.009-2.118,2.009-3.371C19.438,11.758,18.944,11.053,18.089,10.674z M5.618,18.089c-0.558,0-1.011-0.453-1.011-1.011s0.453-1.011,1.011-1.011s1.011,0.453,1.011,1.011S6.177,18.089,5.618,18.089z M6.629,13.371H5.474c-0.112,0-0.192-0.061-0.192-0.135c0-0.074,0.08-0.151,0.192-0.174l1.156-0.365V13.371z M8.652,12.521c-0.394,0.163-0.774,0.366-1.148,0.55c-0.061,0.03-0.132,0.052-0.2,0.076v-0.934c0.479-0.411,0.906-0.694,1.348-0.879V12.521z M5.281,10c-1.348,0-1.348-2.696-1.348-2.696h5.393C9.326,7.304,6.629,10,5.281,10z M10.674,12.296c-0.22-0.053-0.444-0.084-0.674-0.084s-0.454,0.032-0.674,0.084v-1.168C9.539,11.086,9.762,11.06,10,11.05c0.238,0.01,0.461,0.036,0.674,0.078V12.296z M12.696,13.146c-0.068-0.024-0.14-0.046-0.2-0.076c-0.374-0.184-0.754-0.386-1.148-0.55v-1.188c0.442,0.185,0.87,0.467,1.348,0.879V13.146zM14.382,18.089c-0.558,0-1.011-0.453-1.011-1.011s0.453-1.011,1.011-1.011c0.558,0,1.011,0.453,1.011,1.011S14.94,18.089,14.382,18.089z M13.371,13.371v-0.674l1.156,0.365c0.112,0.022,0.192,0.099,0.192,0.174c0,0.074-0.08,0.135-0.192,0.135H13.371z M14.719,10c-1.348,0-4.045-2.696-4.045-2.696h5.393C16.067,7.304,16.067,10,14.719,10z">
                    </path>
                    <path fill="none"
                      d="M10,16.067c-0.186,0-0.337,0.151-0.337,0.337V19.1c0,0.186,0.151,0.337,0.337,0.337s0.337-0.151,0.337-0.337v-2.696C10.337,16.218,10.186,16.067,10,16.067z">
                    </path>
                  </svg>
                </a>
              </div>
              <div class="home-line1"></div>
            </div>
            <div class="home-container26">
              <h1 class="home-text47"><span>Ideate</span></h1>
              <p>Ideate the idea</p>
            </div>
          </div>
          <div class="home-step1">
            <div class="home-container27">
              <div class="home-line2"></div>
              <div class="home-container28">
                <a href="/about#store">
                  <svg class="svg-icon" viewBox="0 0 20 20">
                    <path fill="none"
                      d="M14.781,14.347h1.738c0.24,0,0.436-0.194,0.436-0.435v-1.739c0-0.239-0.195-0.435-0.436-0.435h-1.738c-0.239,0-0.435,0.195-0.435,0.435v1.739C14.347,14.152,14.542,14.347,14.781,14.347 M18.693,3.045H1.307c-0.48,0-0.869,0.39-0.869,0.869v12.17c0,0.479,0.389,0.869,0.869,0.869h17.387c0.479,0,0.869-0.39,0.869-0.869V3.915C19.562,3.435,19.173,3.045,18.693,3.045 M18.693,16.085H1.307V9.13h17.387V16.085z M18.693,5.653H1.307V3.915h17.387V5.653zM3.48,12.608h7.824c0.24,0,0.435-0.195,0.435-0.436c0-0.239-0.194-0.435-0.435-0.435H3.48c-0.24,0-0.435,0.195-0.435,0.435C3.045,12.413,3.24,12.608,3.48,12.608 M3.48,14.347h6.085c0.24,0,0.435-0.194,0.435-0.435s-0.195-0.435-0.435-0.435H3.48c-0.24,0-0.435,0.194-0.435,0.435S3.24,14.347,3.48,14.347">
                    </path>
                  </svg>
                </a>
              </div>
              <div class="home-line3"></div>
            </div>
            <div class="home-container29">
              <h1 class="home-text52"><span>Store</span></h1>
              <p>Store the Relevent</p>
            </div>
          </div>
          <div class="home-step2">
            <div class="home-container30">
              <div class="home-line4"></div>
              <div class="home-container31">
                <a href="/about#manage">
                  <svg class="svg-icon" viewBox="0 0 20 20">
                    <path fill="none"
                      d="M16.254,3.399h-0.695V3.052c0-0.576-0.467-1.042-1.041-1.042c-0.576,0-1.043,0.467-1.043,1.042v0.347H6.526V3.052c0-0.576-0.467-1.042-1.042-1.042S4.441,2.476,4.441,3.052v0.347H3.747c-0.768,0-1.39,0.622-1.39,1.39v11.813c0,0.768,0.622,1.39,1.39,1.39h12.507c0.768,0,1.391-0.622,1.391-1.39V4.789C17.645,4.021,17.021,3.399,16.254,3.399z M14.17,3.052c0-0.192,0.154-0.348,0.348-0.348c0.191,0,0.348,0.156,0.348,0.348v0.347H14.17V3.052z M5.136,3.052c0-0.192,0.156-0.348,0.348-0.348S5.831,2.86,5.831,3.052v0.347H5.136V3.052z M16.949,16.602c0,0.384-0.311,0.694-0.695,0.694H3.747c-0.384,0-0.695-0.311-0.695-0.694V7.568h13.897V16.602z M16.949,6.874H3.052V4.789c0-0.383,0.311-0.695,0.695-0.695h12.507c0.385,0,0.695,0.312,0.695,0.695V6.874z M5.484,11.737c0.576,0,1.042-0.467,1.042-1.042c0-0.576-0.467-1.043-1.042-1.043s-1.042,0.467-1.042,1.043C4.441,11.271,4.908,11.737,5.484,11.737z M5.484,10.348c0.192,0,0.347,0.155,0.347,0.348c0,0.191-0.155,0.348-0.347,0.348s-0.348-0.156-0.348-0.348C5.136,10.503,5.292,10.348,5.484,10.348z M14.518,11.737c0.574,0,1.041-0.467,1.041-1.042c0-0.576-0.467-1.043-1.041-1.043c-0.576,0-1.043,0.467-1.043,1.043C13.475,11.271,13.941,11.737,14.518,11.737z M14.518,10.348c0.191,0,0.348,0.155,0.348,0.348c0,0.191-0.156,0.348-0.348,0.348c-0.193,0-0.348-0.156-0.348-0.348C14.17,10.503,14.324,10.348,14.518,10.348z M14.518,15.212c0.574,0,1.041-0.467,1.041-1.043c0-0.575-0.467-1.042-1.041-1.042c-0.576,0-1.043,0.467-1.043,1.042C13.475,14.745,13.941,15.212,14.518,15.212z M14.518,13.822c0.191,0,0.348,0.155,0.348,0.347c0,0.192-0.156,0.348-0.348,0.348c-0.193,0-0.348-0.155-0.348-0.348C14.17,13.978,14.324,13.822,14.518,13.822z M10,15.212c0.575,0,1.042-0.467,1.042-1.043c0-0.575-0.467-1.042-1.042-1.042c-0.576,0-1.042,0.467-1.042,1.042C8.958,14.745,9.425,15.212,10,15.212z M10,13.822c0.192,0,0.348,0.155,0.348,0.347c0,0.192-0.156,0.348-0.348,0.348s-0.348-0.155-0.348-0.348C9.653,13.978,9.809,13.822,10,13.822z M5.484,15.212c0.576,0,1.042-0.467,1.042-1.043c0-0.575-0.467-1.042-1.042-1.042s-1.042,0.467-1.042,1.042C4.441,14.745,4.908,15.212,5.484,15.212z M5.484,13.822c0.192,0,0.347,0.155,0.347,0.347c0,0.192-0.155,0.348-0.347,0.348s-0.348-0.155-0.348-0.348C5.136,13.978,5.292,13.822,5.484,13.822z M10,11.737c0.575,0,1.042-0.467,1.042-1.042c0-0.576-0.467-1.043-1.042-1.043c-0.576,0-1.042,0.467-1.042,1.043C8.958,11.271,9.425,11.737,10,11.737z M10,10.348c0.192,0,0.348,0.155,0.348,0.348c0,0.191-0.156,0.348-0.348,0.348s-0.348-0.156-0.348-0.348C9.653,10.503,9.809,10.348,10,10.348z">
                    </path>
                  </svg>
                </a>
              </div>
              <div class="home-line5"></div>
            </div>
            <div class="home-container32">
              <h1 class="home-text57"><span>Manage</span></h1>
              <P>Manage the Stored</P>
            </div>
          </div>
          <div class="home-step3">
            <div class="home-container33">
              <div class="home-line6"></div>
              <div class="home-container34">
                <a href="/about#deploy">
                  <svg class="svg-icon" viewBox="0 0 20 20">
                    <path fill="none"
                      d="M8.416,3.943l1.12-1.12v9.031c0,0.257,0.208,0.464,0.464,0.464c0.256,0,0.464-0.207,0.464-0.464V2.823l1.12,1.12c0.182,0.182,0.476,0.182,0.656,0c0.182-0.181,0.182-0.475,0-0.656l-1.744-1.745c-0.018-0.081-0.048-0.16-0.112-0.224C10.279,1.214,10.137,1.177,10,1.194c-0.137-0.017-0.279,0.02-0.384,0.125C9.551,1.384,9.518,1.465,9.499,1.548L7.76,3.288c-0.182,0.181-0.182,0.475,0,0.656C7.941,4.125,8.234,4.125,8.416,3.943z M15.569,6.286h-2.32v0.928h2.32c0.512,0,0.928,0.416,0.928,0.928v8.817c0,0.513-0.416,0.929-0.928,0.929H4.432c-0.513,0-0.928-0.416-0.928-0.929V8.142c0-0.513,0.416-0.928,0.928-0.928h2.32V6.286h-2.32c-1.025,0-1.856,0.831-1.856,1.856v8.817c0,1.025,0.832,1.856,1.856,1.856h11.138c1.024,0,1.855-0.831,1.855-1.856V8.142C17.425,7.117,16.594,6.286,15.569,6.286z">
                    </path>
                  </svg>
                </a>
              </div>
              <div class="home-line7"></div>
            </div>
            <div class="home-container35">
              <h1 class="home-text62"><span>Deploy</span></h1>
              <p>Maintain the Platform</p>
            </div>
          </div>
        </div>
      </div>

      <!-- google maps api -->
      <br>
      <code>Development</code>
      <br>
      <div class="con">
        <iframe style="border-radius:12px"
          src="https://open.spotify.com/embed/playlist/1qpBQtqRRB6hzsES020ux7?utm_source=generator" width="100%"
          height="380" frameBorder="0" allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
      <br>
      <footer class="home-footer">
        <%- include('./partial/foot'); %>
      </footer>
      <br>
      <div class="home-separator"></div>
      <span class="home-text81 myFont">© 2021 <a href="mailto:atharvdesai2002@gmail.com" target="_blank">Otherwa</a>,
        All Rights Reserved.</span>
      <br>
    </div>
  </div>
  <script data-section-id="header" src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
  <script type="text/javascript" src="/js/butter/butter.js"></script>
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
</body>

</html>